# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Environment variables
.env
.env.local
.env.*.local

# Production
build/
dist/

# Debug
*.swp
*.swo
*.swn
*.swx

# IDE and editor files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
